<div class="d-flex flex-column">
  <video class="recording" autoplay muted width="500px" height="500px"></video>
  <div class="d-flex row">
    <video class="output col-6" autoplay muted controls width="500px" height="500px"></video>
    <div class="buttons col-6 d-flex flex-column">
      <button class="start-btn btn btn-primary my-2" (click)="startRecording()">
        Start Recording
      </button>
      <button class="stop-btn btn btn-primary my-2">
        Stop Recording
      </button>
      <a
        href="#"
        download="output.mp4"
        class="download-anc btn btn-primary my-2"
        >Download</a
      >
    </div>
  </div>
</div>
