<nav class="container navbar navbar-expand-lg py-4">
  <div class="container-fluid d-flex justify-content-between">
    <a class="logo me-auto navbar-brand" href="#">Recorder</a>
    <button
      class="navbar-toggler me-auto"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-3 mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item social-li me-2">
          <a
            class="nav-link active social-icon-link"
            aria-current="page"
            href="https://www.linkedin.com/in/haniomhsen3810/"
            target="_blank"
          >
            <img class="social-icon" src="assets/images/linkedin.svg" alt="" />
          </a>
        </li>

        <li class="nav-item social-li me-2">
          <a
            class="nav-link social-icon-link"
            href="https://github.com/hanimohsen31"
            target="_blank"
          >
            <img
              class="social-icon"
              height="17.5px"
              width="17.5px"
              src="assets/images/github.svg"
              alt=""
            />
          </a>
        </li>

        <li class="nav-item social-li">
          <a
            class="nav-link social-icon-link"
            href="https://www.behance.net/hanimohsen3810"
            target="_blank"
          >
            <img
              height="17.5px"
              width="17.5px"
              class="social-icon-img"
              src="assets/images/behance.svg"
              alt=""
            />
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="mailto:hanimohsen31@gmail.com">
            <button class="navbar-text-button">
              <span>Let's Connect</span>
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
