.header {
  .main-button {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(
      90.21deg,
      rgba(170, 54, 124, 0.5) -5.91%,
      rgba(74, 47, 189, 0.5) 111.58%
    );
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
    color: white;
  }

  .text-h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }

  .text-p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 95%;
  }

  .text-button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .img-arrow {
    height: 25px;
    width: 25px;
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }

  .video-container {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    animation: updown 3s linear infinite;
  }

  .video-box-shaodw {
    box-shadow: 0px 0px 79px 0px rgb(207 0 207 / 82%);
  }

  .video-container-hidden {
    display: none;
    width: 400px;
    height: 400px;
    overflow: hidden;
    animation: updown 3s linear infinite;
  }

  .video-content {
    height: 100%;
  }

  .video-content-hidden {
    display: none;
  }

  .banner {
    height: 500px;
    animation: updown 3s linear infinite;
  }

  .left {
    min-height: 500px;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -10;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
