<nav class="navbar container navbar-expand-md py-4">
  <div class="container-fluid">
    <!-- logo -->
    <a class="logo navbar-brand me-auto" href="#">
      <span>Recorder</span>
      <ul class="navbar-nav only-mobile m-0">
        <li class="nav-item social-li" (click)="redirectToWebsite('linkedin')">
          <a class="nav-link social-icon-link" aria-current="page" href="https://www.linkedin.com/in/haniomhsen3810/" target="_blank">
            <img src="assets/images/linkedin.svg" alt="linkedin" />
          </a>
        </li>
      </ul>
    </a>
    <!-- links -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav connect ms-3 mb-2 mb-lg-0">
        <!-- linked-in -->
        <li class="nav-item social-li me-2" (click)="redirectToWebsite('linkedin')">
          <a class="nav-link social-icon-link" aria-current="page" href="https://www.linkedin.com/in/haniomhsen3810/" target="_blank">
            <img src="assets/images/linkedin.svg" alt="linkedin" />
          </a>
        </li>
        <!-- github -->
        <li class="nav-item social-li me-2" (click)="redirectToWebsite('github')">
          <a class="nav-link social-icon-link" href="https://github.com/hanimohsen31" target="_blank">
            <img src="assets/images/github.svg" alt="github" />
          </a>
        </li>
        <!-- behance -->
        <li class="nav-item social-li" (click)="redirectToWebsite('behance')">
          <a class="nav-link social-icon-link" href="https://www.behance.net/hanimohsen3810" target="_blank">
            <img src="assets/images/behance.svg" alt="behance" />
          </a>
        </li>
        <!-- mailto -->
        <li class="nav-item">
          <a class="nav-link" href="mailto:hanimohsen31@gmail.com">
            <button class="navbar-text-button">
              <span>Let's Connect</span>
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
