@import "../../assets/css/mediaQuery.scss";

.navbar {
  color: white;
  .container-fluid {
    display: flex;
    justify-content: space-between;
    .logo {
      color: white;
      font-size: 40px;
      font-weight: 700;
      .onlyMobile {
        display: none;
        margin: 0 !important;
        height: fit-content;
        li {
          display: flex;
          a {
            margin: 0 !important;
          }
        }
        @include breakpoints(small) {
          display: flex;
        }
      }
      @include breakpoints(small) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
      }
    }
    .navbar-nav {
      @include breakpoints(small) {
        display: flex;
        flex-direction: row;
        justify-content: center !important;
        align-items: center;
      }
      .lets-connect {
        display: none;
      }
      .social-li {
        cursor: pointer;
        &::before {
          content: "";
          width: 42px;
          height: 42px;
          position: absolute;
          background-color: #ffffff;
          border-radius: 50%;
          transform: scale(0);
          transition: 0.3s ease-in-out;
        }
        &:hover {
          img {
            filter: invert(1);
          }
          &.social-li::before {
            transform: scale(1);
          }
        }
        .social-icon-link {
          width: 42px;
          height: 42px;
          background: rgba(217, 217, 217, 0.1);
          display: inline-flex;
          border-radius: 50%;
          margin-right: 6px;
          align-items: center;
          justify-content: center;
          line-height: 1;
          border: 1px solid rgba(255, 255, 255, 0.5);
          img {
            z-index: 1;
            transition: 0.3s ease-in-out;
          }
        }
      }
      .nav-link {
        color: white;
        img {
          color: white;
        }
        .navbar-text-button {
          font-weight: 700;
          color: #fff;
          border: 1px solid #fff;
          padding: 18px 34px;
          font-size: 18px;
          margin-left: 18px;
          position: relative;
          background-color: transparent;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
