<div class="container d-flex row">
  <div class="col-9 d-flex flex-column justify-content-between align-items-center">
    <!-- <div>Screen record</div> -->
    <video class="rounded overflow-hidden w-100" #videoElement class="video-container" [muted]="true" controls autoplay playsInline>
      <source [src]="videoBlobUrl" />
    </video>
  </div>

  <div class="d-flex flex-column col-3 justify-content-start">
    <button class="btn btn-primary me-2 mb-3" [disabled]="state !== 'NONE'" (click)="startRecording()">
      Start Record
    </button>
    <button class="btn btn-primary me-2 my-3" [disabled]="state !== 'RECORDING'" (click)="stopRecording()">
      Stop Record
    </button>
    <button class="btn btn-primary me-2 my-3" [disabled]="state !== 'RECORDED'" (click)="downloadRecording()">
      Download Record
    </button>
    <button class="btn btn-primary me-2 mt-3" [disabled]="state !== 'RECORDED'" (click)="clearRecording()">
      Clear record
    </button>
  </div>

</div>
