<img class="background" src="assets/images/bg.png" alt=" " />

<div class="container header">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-sm-12 col-md-6 left">
      <button
        class="main-button px-3 me-3"
        *ngIf="
          (buttonsStatus | async)?.NONE || (buttonsStatus | async)?.RECORDED
        "
        (click)="startRecording()"
      >
        Start Recording
      </button>

      <h6 class="alert-mobile">
        Please Note That this will only work on Desktop Browsers
      </h6>

      <button
        class="main-button px-3 me-3"
        *ngIf="(buttonsStatus | async)?.RECORDING"
        (click)="stopRecording()"
      >
        Stop Record
      </button>

      <button
        class="main-button px-3 me-3"
        *ngIf="(buttonsStatus | async)?.RECORDED"
        (click)="downloadRecording()"
      >
        Download Record
      </button>

      <!-- <ng-container *ngIf="(buttonsStatus | async)?.CHOOSE">
        <div class="choose">Sound Input</div>
        <button class="main-button px-3 me-3" (click)="startRecording()">
          Device
        </button>
        <button class="main-button px-3 me-3" (click)="startRecording('mic')">
          Device & Mic
        </button>
        <div class="disclaimer">
          It's Recommended to use a Headphone
          as you may notice some ecco.
        </div>
      </ng-container> -->

      <button
        class="main-button px-3 me-3"
        [class.muted]="(isMutedMicrophone | async)"
        *ngIf="(buttonsStatus | async)?.RECORDING"
        (click)="toggleMic()"
      >
        Mic
      </button>

      <h2 class="text-h2">Start Recording Now ...</h2>
      <p class="text-p">
        Welcome to our Screen Recording Hub! Capture every moment with precision
        and ease. Unleash the power of seamless screen recording and
        effortlessly share your stories, tutorials, and presentations. Elevate
        your communication with crystal-clear visuals and immersive
        demonstrations.
      </p>
      <div class="text-button" (click)="startNowButton()">
        <span>Start Now</span>
        <img class="img-arrow" src="assets/images/arrow-right.svg" alt="" />
      </div>
    </div>

    <div class="col-sm-12 col-md-6 right d-flex justify-content-center">
      <img
        *ngIf="!video?.srcObject"
        class="astro"
        src="assets/images/header-img.svg"
        alt=""
      />
      <div
        [class.video-container-hidden]="!video?.srcObject"
        [class.video-box-shaodw]="video?.srcObject"
        class="video-container"
      >
        <video
          #videoElement
          class="video-content"
          [muted]="true"
          autoplay
          playsInline
        >
          <source [src]="videoBlobUrl" />
        </video>
      </div>
    </div>
  </div>
</div>
